* {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#guide {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
}

#guide > div {
  border-bottom: solid 1px #ccc;
  display: flex;
  flex-direction: column;
}

#guide > div .yt-choice {
  padding: 0 24px;
}

#guide > div .yt-function {
  padding: 0 24px;
}

#guide > div > ul {
  display: flex;
  flex-direction: column;
}

#guide > div > ul > li:hover {
  background-color: #cccccc;
}

#guide > div > ul > li {
  height: 40px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#guide > div > ul > li > img {
  height: 24px;
  margin-right: 24px;
}

#guide > div > ul > li > span {
  font-size: 14px;
}

#guide .guide-login {
  padding: 16px 32px;
}

#guide .guide-login > div {
  width: 93px;
  height: 36px;
  border: solid 1px blue;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
}

#guide .guide-login > div > img {
  width: 24px;
  height: 24px;
}

#guide .guide-login > div > span {
  font-size: 14px;
  color: blue;
}
