#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: solid 1px #ccc;
  padding: 0 16px;
}

#header .left {
  display: flex;
  align-items: center;
  height: 56px;
}

#header .left .main-logo > img {
  height: 24px;
  cursor: pointer;
}

#header .left .logo {
  height: 56px;
  padding: 0 14px;
}

#header .left .logo > img {
  height: 56px;
  cursor: pointer;
}

#header .mid {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 56px;
}

#header .mid .search-group {
  height: 26px;
  display: flex;
}

#header .mid .search-input {
  width: 100%;
  height: 32px;
  display: flex;
}

#header .mid .search-logo {
  height: 32px;
}

#header .mid .search-logo > img {
  padding: 0 10px;
  background-color: #cccccc;
  border-radius: 2px;
  border-top: solid 1px;
  border-right: solid 1px;
  border-bottom: solid 1px;
  height: 30px;
  cursor: pointer;
}

#header .mid .microphone-logo {
  height: 40px;
  margin-left: 8px;
}

#header .mid .microphone-logo > img {
  height: 32px;
  cursor: pointer;
}

#header .right {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 56px;
}

#header .right .login-group {
  border: solid 1px blue;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 11px;
  height: 40px;
  cursor: pointer;
}

#header .right .login-group > span {
  margin-left: 8px;
  color: blue;
  font-size: 14px;
}

#header .right .right-logo > img {
  padding: 0 8px;
  height: 24px;
  cursor: pointer;
}
